h1 {
    color: green
}

p {
    margin-left: 20px;
    text-align: justify;
    font-size: 30px;
}

strong {
    font-weight: bold
}

div {
    display: flex;
    justify-content: center;
    margin: 20px;
}
