@model IEnumerable<SushiEShop.Models.Product>

<div class="text-center">
    <h1 class="display-4">Welcome to Sushi Ginyu Tokusentai Restaurant!!!</h1>
    <p>We are the Ginyu Force, the strongest warriors in Lord Frieza’s Army! It is our great pleasure to announce Ginyu Tokusentai Sushi's first franchise on Planet Earth, debuting in the lovely humid city of Montreal. After losing our Namekian location to an unknown disaster, we decided that Earth would be a wonderful place to share our love of affordable and delicious sushi. For centuries we have dutifully served our Master in battle. We look forward to providing this same level of service to our French-Canadian brothers, while maintaining a deep-rooted commitment to customer satisfaction. </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_McdW78cxs8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
